body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  color: #007bff;
  margin-bottom: 30px;
}

.card, #cardDetailsForm {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  border-radius: 8px;
}

.card:hover, #cardDetailsForm:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.form-group label {
  font-weight: 500;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.list-group-item {
  border: none;
}

.badge, .badge-primary {
  border-radius: 4px;
  font-size: 1.1em;
  padding: 0.5em 0.6em 0.4em;
  text-transform: uppercase;
  font-weight: 500;
}

.badge-primary {
  background-color: #007bff;
}

.text-success {
  color: #28a745;
  font-size: 1.2rem;
  font-weight: 500;
}

.light span {
  color: #6c757d;
}
