{% extends "admin_base.html" %}

{% block title %} Adminstration {% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="mt-30 page-title">Dashboard</h2>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="dashboard-report-card purple">
                <div class="card-content">
                    <h4>Total Orders</h4>
                    <h5>{{total_orders}}</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="dashboard-report-card red">
                <div class="card-content">
                    <h4>Processing Orders</h4>
                    <h5>{{rest_orders}}</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="dashboard-report-card info">
                <div class="card-content">
                    <h4>Completed Orders</h4>
                    <h5>{{completed_orders}}</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="dashboard-report-card success">
                <div class="card-content">
                    <h4>Today Income</h4>
                    <h5>₹{{total_amount}}</h5>
                </div>
            </div>
        </div>


        <div class="col-xl-12 col-md-12">
            <div class="card card-static-2 mb-30">
                <div class="card-title-2">
                    <h4>Recent Orders</h4>
                </div>
                <div class="card-body-table">
                    <div class="table-responsive">
                        <table class="table ucp-table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:130px">Order ID</th>
                                    <th style="width:200px">Date</th>
                                    <th style="width:300px">Address</th>
                                    <th style="width:130px">Status</th>
                                    <th style="width:130px">Total</th>
                                    <th style="width:100px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in allorders %}
                                <tr>
                                    <td>{{order.id}}</td>
                                    <td>
                                        <span class="delivery-time">{{ order.order_date.strftime('%Y-%m-%d')}}</span><br>
                                        <span class="delivery-time">{{ order.order_date.strftime('%H:%M:%S') }}</span>
                                    </td>
                                    <td>{{ order.bill.address }}, {{order.bill.city}}, {{order.bill.zip}}</td>
                                    <td>
                                        <span class="badge-item badge-status">{{order.status}}</span>
                                    </td>
                                    <td>₹{{order.total_amount}}</td>
                                    <td class="action-btns">
                                        <a href="/admin/order/{{order.id}}" class="edit-btn"><i
                                                class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}